*{
  transparent: #282a3670;
  background: #191c20;
  background-1: #282a2f;
  foreground: #e1e2e9;
  foreground-1: #8e9199;
  selected: #a7c8ff;
  selected-1: #bdc7dc;
  active: #dbbde2;
  urgent: #ba1a1a;
}
